<div class="container-sm">
  <div class="card m-5">

    <form [formGroup]="valuesForm" class="form-inline">
      <div class="form-group m-2">
        <label>First value:</label>
        <input id="value1" formControlName="value1" type="number" class="form-control">
      </div>
      <div class="form-group m-2">
        <label>Second value:</label>
        <input id="value2" formControlName="value2" type="number" class="form-control">
      </div>
      <div class="form-group mb-2">
        <button type="submit" [disabled]="valuesForm.invalid" (click)="calculate('ADD')" id="ADD"
                class="btn btn-primary m-2">+
        </button>
        <button type="submit" [disabled]="valuesForm.invalid" (click)="calculate('SUBTRACT')" id="SUBTRACT"
                class="btn btn-primary m-2">-
        </button>
        <button type="submit" [disabled]="valuesForm.invalid" (click)="calculate('MULTIPLY')" id="MULTIPLY"
                class="btn btn-primary m-2">&times;
        </button>
        <button type="submit" [disabled]="valuesForm.invalid" (click)="calculate('DIVIDE')" id="DIVIDE"
                class="btn btn-primary m-2">/
        </button>
      </div>
    </form>
    <label class="m-2" id="result" [ngSwitch]="result">{{result?.result}}</label>
    <div *ngIf="errorMessage" id="errorAlert" class="alert alert-warning m-2" role="alert">
      Invalid calculation!
    </div>
  </div>
</div>
<div *ngIf="history.length != 0" class="container-sm">
  <div class="card m-5">
  <div *ngFor="let hist of history" class="m-2">
    <label id="historyItem">{{hist.value1}} {{operatorConverter(hist.operation)}} {{hist.value2}} = {{hist.result}}</label>
  </div>
</div>
</div>
